@media screen and (max-width: 320px) {
    .container {
        padding: 0 2%;
    }

    #menu {
        padding-right: 70px;
    }
    .text-box {
        padding: 0 25px;
    }

    .text-box h3 {
        font-size: 30px;
    }

    .text-box h1 {
        font-size: 70px;
    line-height: 60px;
    }

    .text-box p{
        font-size: 14px;
        margin-top: 15px;
    }

    .text-box .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 7px;
        margin-top: 20px;
        text-align: center;
    }

    .text-box .row a {
        margin: 0;
    }
}

@media only screen and (max-width: 300px) {
    .text-box h1 {
        font-size: 62px;
    }

    .text-box h3 {
        font-size: 27px;
    }

    .text-box .row a {
        font-size: 12px;
    }
}