*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

:root {
    --primary-color : #fdf6e0;
    --secondary-color: #35FF69;
}
.container {
    width: 100%;
    height: 100vh;
    background: url('/RESOURCES/images/background.png');
    background-position: center;
    background-size: cover;
    padding: 0 8%;
    position: relative;
}


nav {
    display: flex;
    align-items: center;
    padding: 20px 0;
}

nav img {
    width: 150px;
    cursor: pointer;
}

nav ul {
    flex: 1;
    text-align: right;
    margin-right: 30px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 20px;
}



nav ul li a {
    color: white;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

nav ul li a::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 50%;
    height: 2px;
    width: 0%;
    transform: translateX(-50%);
    background: #fff;
    transition: width 0.3s;
}

nav ul li a:hover::after {
    width: 60%;
}

nav .cart-icon {
    font-size: 20px;
    cursor: pointer;
    color: white;
}

#menu-icon {
    display: none;
}

.text-box {
    position: absolute;
    bottom: 8%;
    right: 8%;
    color: #fff;
    z-index: 3;
}

.text-box h3 {
    font-size: 40px;
}

.text-box h1 {
    font-size: 190px;
    line-height: 160px;
    color: transparent;
    font-weight: 800;
    -webkit-text-stroke: 2px #F5B700;
    background: url('/RESOURCES/images/back.png');
    -webkit-background-clip: text;
    animation: back 20s forwards infinite;
    background-position: 0 0;
}

@keyframes back {
    100% {
        background-position: 2000px 0;
    }
}

.text-box p {
    font-size: 30px;
}

.text-box .row a {
    margin-top: 30px;
}

.text-box .row a {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #fff;
    margin-right: 20px;
    color: white;
    text-decoration: none;
    border-radius: 60px;
}

.text-box .row a:nth-child(2) {
    background-color: #F5B700;
    color: #fff;
}

.text-box .row a span {
    margin-left: 5px;
    display: inline-block;
    transition: transform 0.5s;
}

.text-box .row a:hover span{
    transform: translateX(5px);
    color: #fff;
}

p.attribution {
    padding: 5px 20px;
    background-color: #181717;
    color: #fff;
    text-align: center;
    font-size: 13px;
}

p.attribution a {
    color: #F5B700;
}
@media screen and (max-width: 850px) {

    #hero {
        overflow: hidden;
    }

    #hero nav {
        justify-content: space-between;
        position: relative;
    }

    #hero nav #menu-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
        font-size: 25px;
        color: white;
        cursor: pointer;
        transition: 0.5s;
        display: block;
        z-index: 6;
    }

    #hero nav .cart-icon {
        padding-right: 60px;
    }

    #menu {
        position: absolute;
        right: -350px;
        top: 0;
        width: 250px;
        height: 100vh;
        background-color: var(--secondary-color);
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 10px;
        padding-top: 50px;
        transition: right 0.5s;
        z-index: 5;
    }

    #menu li a {
        color: black;
        font-weight: 500;
    }

    #menu li a::after {
        background: #000;
    }

    .text-box h1{
        font-size: 130px;
        line-height: 100px;
    }

    .text-box p {
        font-size: 20px;
    }

    .text-box .row a {
        font-size: 14px;
        padding: 7px 10px;
    }

    
.text-box .row a span:hover {
    transform: translateX(-3px);
}

}

@media screen and (max-width: 514px) {
    .logo {
        width: 100px;
    }

    .text-box {
        text-align: left;
        margin-left: 50px;
    }
    .text-box h1 {
        font-size: 90px;
        line-height: 80px;
    }
}

@media only screen and (max-width: 480px) {
    .container {
        background-position: 21%;
    }

    img.logo {
        width: 80px;
    }

    .text-box .row a {
        margin-right: 5px;
    }

    nav .cart-icon {
        font-size: 16px;
    }

    #hero nav #menu-icon {
        font-size: 20px !important;
    }
}

@media screen and (max-width: 320px) {
    .container {
        padding: 0 2%;
    }

    #menu {
        padding-right: 70px;
    }
    .text-box {
        padding: 0 25px;
    }

    .text-box h3 {
        font-size: 30px;
    }

    .text-box h1 {
        font-size: 70px;
    line-height: 60px;
    }

    .text-box p{
        font-size: 14px;
        margin-top: 15px;
    }

    .text-box .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 7px;
        margin-top: 20px;
        text-align: center;
    }

    .text-box .row a {
        margin: 0;
    }
}

@media only screen and (max-width: 300px) {
    .text-box {
        padding: 0px 0px 0px 17px;
        margin-left: 0;
    }
    .text-box h1 {
        font-size: 62px;
    }

    .text-box h3 {
        font-size: 27px;
    }

    .text-box .row a {
        font-size: 12px;
    }
}
